<IfModule mod_rewrite.c>
	Options -MultiViews
	RewriteEngine On

	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteRule ^ index.php [L]
</IfModule>

<IfModule mod_expires.c>

    # Enable expirations
    ExpiresActive On

    # Default directive
    ExpiresDefault "access plus 1 week"

    # Images
    ExpiresByType image/gif "access plus 1 week"
    ExpiresByType image/png "access plus 1 week"
    ExpiresByType image/jpg "access plus 1 week"
    ExpiresByType image/jpeg "access plus 1 week"

    # CSS
    ExpiresByType text/css "access 1 week”

    # Javascript
    ExpiresByType application/javascript "access plus 1 year"

</IfModule>